.worker {
  display: flex;
  align-items: center;
  height: 84px;
  cursor: pointer;

  &__image {
    padding: 6px 16px 6px 0px;
  }

  &__avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
  }
  
  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #050510;
  }

  &__tag {
    font-size: 14px;
    line-height: 18px;
    color: #97979b;
    margin-left: 4px;
  }

  &__position {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #55555c;
  }

  &__birth {
    position: absolute;
    right: 20px;
    display: block;
    font-size: 15px;
    line-height: 20px;
    color: #55555c;
  }
}