@use '../../../../common/scss/variables.scss' as *;

.search-form {
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__form {
    background-color: $VeryLightGray;
    border-radius: 16px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    margin: 6px 16px;
    padding: 8px 12px;
  }

  &__search-icon {
    padding: 0;
    margin: 0px 8px 0 0;
    width: 24px;
    height: 24px;
  }

  &__input {
    border: none;
    width: 100%;
    height: 24px;
    margin-right: auto;
    padding: 0;
    outline: none;
    background-color: $VeryLightGray;
}

  &__button {
    margin: 8px 0;
    padding: 0;
    outline: none;
    width: 24px;
    height: 24px;
    border: none;
    background-color: $VeryLightGray;
    cursor: pointer;
  }

  &__cancel-btn {
    display: block;
    margin: 6px 16px 6px 0px;
    padding: 0;
    outline: none;
    width: 54px;
    height: 18px;
    border: none;
    background-color: $White;
    color: $Violet;
    line-height: 18px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
  }
}

.burger {
  margin: 0;
  padding: 0;
  outline: none;
  width: 20px;
  height: 20px;

  &_active {
    filter: invert(54%) sepia(92%) saturate(7380%) hue-rotate(250deg) brightness(94%) contrast(94%);
  }
}
