@import '../../../../common/scss/breakpoint.scss';

.years-block {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 22px 0;
  color: #c3c3c6;
  font-size: 15px;
  font-weight: 500;

  &__line {
    width: 72px;
    height: 1px;
    background-color: #c3c3c6;

    &_left {
      margin-left: 8px;
    }

    &_right {
      margin-right: 8px;
    }

    @include for-large-up {
      width: 40%;
    }

    &__title {
      padding: 0;
      margin: 0;
    }
  }
}
