@import '../../../../common/scss/breakpoint.scss';
@import '../../../../common/scss/variables.scss';

.years-block {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 22px 0;
  color: $LightGrey;

  &__line {
    width: 72px;
    height: 1px;
    background-color: $LightGrey;

    &_left {
      margin-left: 8px;
    }

    &_right {
      margin-right: 8px;
    }

    @include for-large-up {
      width: 40%;
    }

  }
  
  &__title {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
  }
}
