@import './../../common/scss/breakpoint.scss';
@import './../../common/scss/variables.scss';

.employees-list {
  min-width: 343px;
  height: 100%;
  margin: 16px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: $White;
  list-style: none;

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
