.notFound-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 77vh;
  margin: 0 auto;

  &__img {
    height: 56px;
    margin: 0 0 8px 0;
  }

  &__title {
    margin: 0 0 12px 0;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
  }

  &__text {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    color: #97979b;
  }
}

.not-found-block-custom {
  height: 0px;
  margin: 100px 0 16px;
}