@use '../../../../common/scss/variables.scss' as *;

.call-buttons {
  position: absolute;
  z-index: 21;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: -webkit-fill-available;
  margin: 60px 8px;

  &__btn {
    height: 60px;
    padding: 18px 16px;
    border-radius: 14px;
    outline: none;
    border: none;
    cursor: pointer;
  }

  &__phone-number {
    margin-bottom: 8px;
    background-color: $GreyForButtonNumber;

    &:hover {
      background-color: $White;
    }
  }

  &__cancel-btn {
    background-color: $White;
  }
}
