$TextGraphite: #55555c;
$TextGrey: #97979b;
$LightGrey: #c3c3c6;
$VeryLightGray: #f7f7f8;

$GreyForButtonNumber: #f5f5f5b2;
$ForBodyLightGrey: #e5e5e5;

$White: #fff;

$Violet: #6534ff;
$TextLightViolet: #6334ffc1;

$TextAlmostBlack: #050510;
$TransparentBlack: #0505105c;

$backGroundColorBlack: #00000060;