@use '../../common/scss/variables.scss' as *;

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 125px;

  &__icon {
    width: 56px;
    height: 56px;
    margin: 0 0 8px 0;
  }

  &__title {
    margin: 0 0 12px 0;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    color: $TextAlmostBlack;
  }

  &__description {
    margin: 0 0 12px 0;
    font-size: 16px;
    line-height: 20px;
    color: $TextGrey;
  }

  &__link {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: $Violet;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}