@use './common/scss/variables.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
  box-sizing: border-box;
}

body {
  background-color: $White;
  margin: 0 auto;
  color: #050510;
  font-family: 'Inter', sans-serif;
  position: relative;
}

.page {
  position: relative;
  max-width: 1280px;
  min-width: 375px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: $White;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  min-width: 375px;
  min-height: 100vh;
  background-color: $White;
}

a {
  text-decoration: none;
}
